<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Analyzer : {{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css">
    <!--<link rel="stylesheet" href="/css/themes/{{ .CurrentTheme }}>-->
</head>
<body>
<header>
    <nav class="nav-container unselectable">
        <a href="/" class="logo">Analyzer</a>
        <div class="nav-links">
            <a href="/">{{ .Lang.base.header.homeNav }}</a>
            <!-- <a href="#">Features</a>
            <a href="#">Documentation</a>
            <a href="#">Contact</a> -->
            <select class="lang-select">
                <option value="{{ .CurrentLang }}">{{ .CurrentLang }}</option>
                {{ range .LangList }}
                    {{ if ne $.CurrentLang . }}
                        <option value="{{ . }}">{{ . }}</option>
                    {{ end }}
                {{ end }}
            </select>
        </div>
    </nav>
</header>

<main>
    {{ template "content" . }}
</main>

<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3 class="unselectable">{{ .Lang.base.footer.aboutUs }}</h3>
            <p>{{ .Lang.base.footer.aboutUsMessage }}</p>
        </div>
        <!-- <div class="footer-section">
            <h3 class="unselectable">Legal</h3>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div> -->
        <div class="footer-section">
            <h3 class="unselectable">{{ .Lang.base.footer.connect }}</h3>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/CookieG77/WPS48H">{{ .Lang.base.footer.connectGitHub }}</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2025 WPS48H. CC BY-NC-ND 4.0.</p>
    </div>
</footer>
{{ range $_, $script := .AdditionalScripts }}
<script src="{{ $script }}"></script>
{{ end }}
</body>
</html>