<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Website Analyzer : {{ .Title }}</title>
    <link rel="stylesheet" href="/css/style.css" >
</head>
<body>
<header>
    <nav class="nav-container">
        <a href="#" class="logo">Analyzer</a>
        <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Features</a>
            <a href="#">Documentation</a>
            <a href="#">Contact</a>
        </div>
    </nav>
</header>

<main>
    {{ template "content" . }}
</main>

<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h3>About Us</h3>
            <p>Providing website analysis solutions with cutting-edge technology.</p>
        </div>
        <div class="footer-section">
            <h3>Legal</h3>
            <ul>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Connect</h3>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="https://github.com/CookieG77/WPS48H">GitHub</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; ©2025 WPS48H. CC BY-NC-ND 4.0.</p>
    </div>
</footer>
<script src="/js/script.js"></script>
</body>
</html>